@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
*{
  margin:0;
  padding: 0;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .5s;
}
nav.black{
  background: rgba(0, 0, 0, 0.8);
  height: 80px;
  padding: 10px 50px;
}
nav .logo{
  float: left;
}
nav .logo img{
  height: 150px;
  transition: .5s;
}
nav.black .logo img{
  height: 60px;
}
nav ul{
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  line-height: 80px;
  color: #fff;
  padding: 5px 20px;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  text-transform: uppercase;
}
nav.black ul li a{
  color: #fff;
  line-height: 60px;
}
nav ul li a:hover{
  color: #ccc;
  border-bottom: 2px solid #cccc;
}

section.sec1{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.sec1 h1{
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: auto;
  letter-spacing: 20px;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
 font-family: 'Playfair Display', serif;
 text-align: center;

}

section.about{
  width: auto;
  height: 50vh;
  padding: 100px;
  background-size: cover;
  background-attachment: fixed;
}
section.about h1{
  margin: 0px;
  padding: 0px;
  font-size: 2em;
}
section.about p{
  margin: 20px 0 0;
  padding: 0px;
  font-size: 1em;
  float: left;
}
section.service{

  height: 100vh;
  background-size: cover;

}
table{

}
.td{
  width: 100%;
}


/*Login*/
div#login-box{
  position: relative;
  margin: 0;
  top: 180px;
  left: 360px;
  height: 450px;
  width: 600px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

}
div#login-box .left-box{
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}
div#login-box h1{
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}
.login input[type="text"], .login input[type="password"]{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
.login input[type="submit"]{
  margin-bottom: 28px;
  width: 120px;
  height: 32px;
  background: #f44336;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
}

.login input[type="submit"]:hover,.login input[type="submit"]:focus{
  background: #ff5722;
  transition: 0.2s ease;
}

div#login-box .right-box{
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 450px;
}
div#login-box .or{
  position: absolute;
  top: 180px;
  right: 280px;
  width: 40px;
  height: 40px;
  background: #efefef;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  line-height: 40px;
  text-align: center;
}
